<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading center"><strong>List of Requests</strong></div>

  <!-- Table -->
  <table class="table">
    <thead>
      <th><center>Request <br> Type</center></th>
      <th><center>Requested <br> By</center></th>
      <th><center>Date <br> Requester</center></th>
      <th><center>Department</center></th>
      <th><center>Approving <br> Officer</center></th>
      <th><center>Purpose</center></th>
      <th><center>Status</center></th>
      <% @consolidate = "true" %>
      <% if current_user.designation.name == "Department Head" %>
        <th>
          <%= link_to "Approve All", request_path(@requests, :approve => true), method: :put, 
                  data: {confirm: "Are you sure you want to approve all Pending requests?"}, 
                              class: "btn btn-xs btn-primary" %>
          <%= link_to "Consolidate All", request_path(@requests, :consolidate => true), method: :put,
                  data: {confirm: "Are you sure you want to consolidate all Pending requests?"}, 
                              class: "btn btn-xs btn-success" %>
          <%= link_to "Disapprove All", request_path(@requests, :disapprove => true), method: :put,
                  data: {confirm: "Are you sure you want to disapprove all Pending requests?"}, 
                              class: "btn btn-xs btn-danger" %>
        </th>
      <% end %>
    </thead>

    <tbody>
      <%= will_paginate %>
        <% @requests.each do |req| %>
          <% if logged_in? && current_user.id == req.user_id %>
            <tr>
              <td align="center"><%= req.category.name %></td>
              <td align="center"><%= req.user.empname %></td>
              <td align="center"><%= req.date_created.to_formatted_s(:long) %></td>
              <td align="center"><%= req.department.name %></td>
              <td align="center"><%= req.officer.user.empname %></td>
              <td align="center"><%= truncate(req.reason, length: 25) %></td>
              <td align="center"><%= req.status %></td>
              <% if req.status == "Pending" %>
                <td>
                  <%= link_to "View", request_path(req),
                                    data: {confirm: "Are you sure you want to view this request?"}, 
                                      class: "btn btn-xs btn-success" %>
                  <%= link_to "Update", edit_request_path(req), 
                                    data: {confirm: "Are you sure you want to update this request?"}, 
                                      class: "btn btn-xs btn-primary" %>
                  <%= link_to "Delete", request_path(req), method: :delete, 
                                    data: {confirm: "Are you sure you want to delete this request?"}, 
                                      class: "btn btn-xs btn-danger" %>
                </td>
              <% end %>
            </tr>
          <% elsif logged_in? && current_user.id == req.officer.user_id %>
            <tr>
              <td align="center"><%= req.category.name %></td>
              <td align="center"><%= req.user.empname %></td>
              <td align="center"><%= req.date_created.to_formatted_s(:long) %></td>
              <td align="center"><%= req.department.name %></td>
              <td align="center"><%= req.officer.user.empname %></td>
              <td align="center"><%= truncate(req.reason, length: 25) %></td>
              <td align="center"><%= req.status %></td>
              <% if req.status == "Pending" %>
                <td>
                  <%= link_to "View", request_path(req),
                                    data: {confirm: "Are you sure you want to view this request?"}, 
                                      class: "btn btn-xs btn-primary" %>
                  <%= check_box_tag "request_ids[]", req.id %>
                </td>
              <% else %>
                <td>
                  <%= check_box_tag "request_ids[]", req.id %>
                </td>
              <% end %>
            </tr>
            <% else %>
          <%end%>
        <%end%>      
      <%= will_paginate %>
    </tbody>

  </table>
</div>