<h1><center>Update Purchase Order</center></h1>
<%= form_for(@order) do |f| %>
  <%= render 'share/errors', obj: @order %>
  <div class="panel panel-default">
    <!-- Default panel contents -->
      <div class="panel-heading center"><strong>Purchase Order of Equipments Form</strong></div>

      <table class="table">
        <thead>
          <tr>
          <tr>
            <td colspan="4"><center><strong>Supplier Information</strong></center></td>
            <td colspan="4"><center><strong>Purchase Oder Information:</strong></center></td>
          </tr>
          <tr>
            <td colspan="4">
              <center>
                <%= f.collection_select(:supplier_id, Supplier.all, :id, :name, {include_blank: 'Please Select'})%>
              </center>
            </td>
            <td colspan="2"><center><strong>Purchase Oder Number:</strong></center></td>
            <td colspan="2">
                <center><strong><%=@order.PONumber%></strong></center>
            </td>
          </tr>
          <tr>
            <td colspan="4"> 
              <%= f.hidden_field :PONumber, class: "form-control", autofocus: true, value: @order.PONumber %>
              <%= f.hidden_field(:user_id, value: current_user.id) %>
              <%= f.hidden_field(:status, value: "Pending") %>
              <strong> Address: </strong>
              <%= text_field_tag :address, @order.supplier.address, readonly: true, size: 73, :style => "text-align: Center" %>
            </td>
            <td colspan="2"><center><strong>Purchase Order Date:</strong></center></td>
            <td colspan="2"><center><strong><%= @order.created_at.to_date.to_formatted_s(:long) %></strong></center></td>
          </tr>
          <tr>
            <td colspan="4">
              <center>
                <strong>Tel No.:</strong> &nbsp
                <%= text_field_tag :tel, @order.supplier.tel, readonly: true, size: 10, :style => "text-align: Center" %>&nbsp
                <strong>Fax No.:</strong> &nbsp
                <%= text_field_tag :fax, @order.supplier.fax, readonly: true, size: 20, :style => "text-align: Center" %>&nbsp
                <strong>Tin No.:</strong> &nbsp
                <%= text_field_tag :tin, @order.supplier.tin, readonly: true, size: 13, :style => "text-align: Center" %>
              </center>
            </td>
            <td colspan="2"><center><strong>Terms of Payment: </strong></center></td>
            <td colspan="2">
              <center><strong>Payable immediately, due net</strong></center>
              <%= f.hidden_field :terms, class: "form-control", autofocus: true, value: "Payable immediately, due net" %>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <center>
                <strong>Contact Person:</strong> &nbsp
                <%= text_field_tag :person, @order.supplier.representative, readonly: true, size: 25, :style => "text-align: Center" %>&nbsp
                <strong>Email:</strong> &nbsp
                <%= text_field_tag :email, @order.supplier.email, readonly: true, size: 25, :style => "text-align: Center" %>&nbsp
              </center>
            </td>
            <td colspan="2"><center><strong>Mode of Procurement: </strong></center></td>
            <td colspan="2"><center><strong>DC (Direct Contracting)</strong></center></td>
          <tr>
          <%= content_tag :div, class: "supplier_info", data: { supp: @supp } do %>
          <% end %>
          <tr>
            <th colspan="4"><center><strong>Place of Delivery:</strong></center></th>
            <th colspan="4"><center><strong>Date of Delivery:</strong></center></th>
          </tr>
          <tr>
            <td colspan="4">
              <center>
                <strong>
                  2/F Bonifacio Tchnology Center, 31st Street Bonifacio Global City, Taguig City <br>
                  Tel No.: 572-1700 &nbsp Loc.: 1782/1784 &nbsp Fax No.: 816-1030
                </strong>
              </center>
            </td>
            <td colspan="4">
              <center>
                <div class="form-group">
                  <%= f.date_field :delivery_date, as: :date, input_html: { class: "datepicker", value: Time.now.strftime('%Y-%m-%d') }, min: Date.today, include_blank: true%>
                </div>
              </center>
            </td>
          </tr>
          <tr>
            <th><center>Equipment Type</center></th>
            <th colspan="3"><center>Equipment Description</center></th>
            <th><center>Quantity</center></th>
            <th><center>Unit Price</center></th>
            <th><center>Amount</center></th>
          </tr>
        </thead>
        <tbody>
	  		<%i = 0%>
          	<%= f.fields_for :order_lines, @order.order_lines do |ol| %>
                <tr>
                  <%= ol.hidden_field(:consolidate_id, value: @order.order_lines[i].consolidate_id) %>
                  <td> 
                    <center>
                      <strong><%= @order.order_lines[i].type.name %></strong>
                      <%= ol.hidden_field(:type_id) %>
                    </center> 
                  </td>
                  <td colspan="3"> 
                    <center>
                      <strong>
                        <%= @order.order_lines[i].product.name %>/<%= @order.order_lines[i].description%>
                        <%= ol.hidden_field(:product_id) %>
                        <%= ol.hidden_field(:description) %>
                      </strong>
                    </center> 
                  </td>
                    <td> 
                    <center>
                      <strong>
                        <%= pluralize(@order.order_lines[i].qty, "#{@order.order_lines[i].unit.name}")%> 
                        <%= ol.hidden_field(:qty)%>
                        <%= ol.hidden_field(:unit_id) %>
                      </strong>
                    </center> 
                  </td>
                  <td> 
                    <center>
                      <%= ol.number_field :unit_price, min: 100, class: :unit_price%>
                    </center> 
                  </td>
                  <td> 
                    <center>
                      <%= ol.number_field :amount, readonly: true%>
                    </center> 
                  </td>
                  <%i +=1%>
                </tr>
            <%end%>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><center><strong>Total Amount: </strong></center></td>
            <td>
              <center>
                <%= f.number_field :total_amount, readonly: true, class: :total_amount, 
                      value: number_to_currency(@order.total_amount.to_f, delimiter: '', unit: '')%>
              </center>
            </td>
          </tr>
          <tr>
          <td colspan=8>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-8">
                <center><%= f.submit(@order.new_record? ? "Generate Purchase Order" : "Update Purchase Order", class: "btn btn-primary btn-lg")%></center>
              </div>
            </div>
          </td>
        </tr>
        </tfoot>
      </table>
  </div>
<% end %>
