<%= render 'share/errors', obj: @product %>
<div class="row">
	<div class="col-md-12">
		<%= form_for(@product, :html => {class: "form-horizontal", role: "form"}) do |f| %>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= f.label "Product" %> <%= f.label "Name" %>
				</div>

				<div class="col-sm-8">
					<%= f.text_field :name, class: "form-control", placeholder: "Enter Product Type", autofocus: true %>
				</div>
			</div>

			<div class="form-group">
				<div class="control-label col-sm-2">
					<%= f.label "Product" %> <%= f.label "Type" %>
				</div>

				<div class="col-sm-8">
					<%= f.collection_select(:type_id, Type.all, :id, :name) %>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<%= f.submit class: "btn btn-primary btn-lg" %>
				</div>
			</div>
		<% end %>
		
	</div>
</div>